 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <p>
                        Hailing from the tropical paradise of Vietnam, I grew up memorizing math equations, tinkering with computer parts, feasting on rambutans and coconuts, and attempting stints in choir, marching band, and dance company.
                    </p>
                    <p>
                        In search of my true passion, I set foot on temperate New England, emerged with a degree in Economics from <a href="http://www.williams.edu/">Williams College</a> four years later, and found a calling in product management and software development.
                    </p>
                    <p>
                        In my day time, I manage data analytics products for a nonprofit that shares stakeholders perspectives with their foundation clients and help foundations make better decision through advisory and research work.
                    </p>
                    <p>
                        In my spare time, I enjoy developing Web sites using various frameworks, from <a href="http://rubyonrails.org/">Ruby on Rails</a>, <a href="https://www.djangoproject.com/">Django</a>, to <a href="https://www.meteor.com">meteor</a>.
                    </p>
                    <p>
                        In my remaining spare time, I like cooking and rowing.
                    </p>
                    <p>
                        I enjoy helping people and organizations build great technology products that help them do their work more efficiently and be able to . If you want to discuss an interesting idea with me (it doesn't have to be about websites!), feel free to use the form below.
                    </p>
                </div>
            </div>
        </div>
    </section>