 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <p>
                        I have fond memories of my childhood in tropical Vietnam. I tinkered with computer parts, played soccer on streets flooded with <a href="http://saigoneer.com/saigon-culture/2975-21-outrageous-photos-of-vietnamese-motorbikers">motorbikes</a>, and ate plenty of rambutans and <a href="http://instagram.com/p/jyGkmhmb0y">dragonfruits</a>.
                    </p>
                    <p>
                        Since leaving home at the age of fourteen, I have lived in Singapore, Poland, and the U.S. I graduated from <a href="http://www.williams.edu/">Williams College</a> with a degree in Economics. I also graduated from breaking computer hardware to writing software. I speak several languages and program in several others.
                    </p>
                    <p>
                        During day time, I manage data analytics products for <a href="http://www.effectivephilanthropy.org">a nonprofit that helps foundations make better strategic decisions</a>.
                    </p>
                    <p>
                        During spare time, I develop Web sites using various frameworks, from <a href="http://rubyonrails.org/">Ruby on Rails</a>, <a href="https://www.djangoproject.com/">Django</a>, to <a href="https://www.meteor.com">meteor</a>.
                    </p>
                    <p>
                        During my remaining spare time, I cook and row. I make some good pho and <a href="http://instagram.com/p/rDf58yGb42">paella</a>. I like the swooshing sound of <a href="http://instagram.com/p/O2oIbAGb_4">an oar blade</a> cleanly traversing water.
                    </p>
                    <p>
                        I enjoy building great technology products for people and organizations. If you have an interesting idea, <a href="mailto:mike@toch.im">let's sit down and talk</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
