header {
  background: url("img/palackultury.jpg") no-repeat center top scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


/* Navbar */
.navbar-default {
  background-color: transparent;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: #{{ site.color.primary }};
}

.navbar-default .navbar-nav > .active >a {
  background-color: #{{ site.color.primary }};
}

/* Navigation button in mobile view */
.navbar-default .navbar-toggle {
  border-color: #{{ site.color.primary }};
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #{{ site.color.primary }};
}

/* Scroll top button in mobile view */
.scroll-top .btn {
  padding: 8px 0;
}

/* Add color in when scrolling navbar down */
.navbar-shrink {
  background-color: #C6D4E1;
}


/* Section */
section {
  padding: 50px 20px;
}

section.success {
  background-color: white;
  color: #{{ site.color.primary }};
}

section h2 {
  margin: 0 0 30px 0;
}

#portfolio h2 {
  color: #BDB8AD;
}

/* Footer */
footer .footer-below {
  padding: 0;
  color: #{{ site.color.primary }};
}

.btn-social {
  border: 2px solid #{{ site.color.primary }};
}

.btn-outline {
  color: #{{ site.color.primary }};
}

/* Typography */
p {
  font-size: 18px;
  margin: 20px 10px;
}

a {
  color: #D96E4C;
}